@model BEUCrtProyectoDavid.Carrito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.car_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.cln_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.cln_tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.car_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
