@model IEnumerable<BEUCrtProyectoDavid.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uso_usu)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.uso_con)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.uso_nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uso_cor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uso_usu)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.uso_con)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.uso_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uso_cor)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.uso_id }, htmlAttributes: new { @class = "btn btn-md btn-warning span glyphicon glyphicon-pencil", @title = "Editar" }) |
            @Html.ActionLink(" ", "Details", new { id=item.uso_id }, htmlAttributes: new { @class = "btn btn-md btn-primary span glyphicon glyphicon-search", @title = "Ver" }) |
            @Html.ActionLink(" ", "Delete", new { id=item.uso_id }, htmlAttributes: new { @class = "btn btn-md btn-danger span glyphicon glyphicon-trash", @title = "Borrar" })
        </td>
    </tr>
}

</table>
