@model BEUCrtProyectoDavid.CuerpoFactura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CuerpoFactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CabezaFactura.cbf_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CabezaFactura.cbf_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrito.car_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrito.car_tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.crf_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
