<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/Styles.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("PortBelly", "SeleccionarProducto", "Productos", new { area = "" }, new { @class = "navbar-brand " })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Tienda", "SeleccionarProducto", "Productos", new { area = "" }, new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Productos", "Index", "Productos", new { area = "" }, new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Mi Carrito", "Index", "ProductoEnCarritos", new { area = "" }, new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Categoría", "Index", "Categorias", new { area = "" }, new { @class = "nav-link " })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Usuarios", "Index", "Usuarios", new { area = "" }, new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Clientes", "Index", "Clientes", new { area = "" }, new { @class = "nav-link " })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link " })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link " })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link " })
                </li>


            </ul>
            <span class="navbar-text">
                Compra todo lo que quieras
            </span>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
