@model BEUCrtProyectoDavid.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prd_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prd_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prd_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prd_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prd_tal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prd_tal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prd_crt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prd_crt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prd_cnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prd_cnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.cat_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.cat_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promocion.prm_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promocion.prm_nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info" /> |
            @Html.ActionLink("Productos", "Index")
        </div>
    }
</div>
