@model IEnumerable<BEUCrtProyectoDavid.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cln_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cln_dateOfCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.uso_usu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cln_tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cln_dateOfCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.uso_usu)
        </td>
        <td>

            @Html.ActionLink("Editar", "Edit", new { id = item.cln_id }, htmlAttributes: new { @class = "btn btn-sm btn-warning glyphicon glyphicon-pencil", @title = "Editar" }) |
            @Html.ActionLink("Ver", "Details", new { id = item.cln_id }, htmlAttributes: new { @class = "btn btn-sm btn-primary glyphicon glyphicon-search", @title = "Ver" }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.cln_id }, htmlAttributes: new { @class = "btn btn-sm btn-danger glyphicon glyphicon-trash", @title = "Borrar" })
        </td>
    </tr>
}

</table>
